.navbar{
    padding-bottom: 0px;
    position: relative;
    
}

#img-batiment{
    display: block;
    padding-top: 15px; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


h2{
    margin-top: 10px;
    text-align: center;
}

.content{
    background-color:#F3F3F3;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
