.navbar{
    padding-bottom: 2em;
    padding-top: 2em;
    position: relative;
    background-color: #271549;
}
.navbar .navbar-nav > li > a:hover, .navbar-light .navbar-nav > li > a:focus {
    background-color: #756490;
    color: #271549;
}

.navbar-brand {
    color: #FFF;
    font-size: 35px;
    margin-left: 1.5em;
    margin-right: 2em;
}

.navbar-brand a:hover {
    color: #FFF;
}

#navbarbrand {
    color: #FFF;
}

.nav-item {
    background-color: #FFF;
    color: #756490;
    border-right: 1px solid #f0eff2;
    border-color: rgba(66,66,66,0.2);
}

.navbar .navbar-nav > li > a {
    color: #382660;
    opacity: 1;
    font-family: Source Sans Pro, sans-serif;
    transition: all .5s ease;
    font-size: 14px;
    line-height: 20px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    text-transform: uppercase;
    font-weight: 550;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#last-nav-item {
    border-right: 0px !important;
}

#img-batiment{
    display: block;
    width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;

}

#img-cafetera{
    display: block;
    width: 75%;
     max-height: 100%;
    margin-left: auto;
    margin-right: auto;

}

/*
.content{
    background-color:#F3F3F3;
}
*/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.epsilink {
    color: #fdce37;
}

/*.epsicontent {
    background-color: #efeef3;
    color: #271549;
    max-width: 1140px;
}
*/
.epsititlebg {
    background-color: #77649b;
    color: white;
    padding: 27px 12px 25px;
    text-align: center;
}

body{
    background-color: #EFEEF3;
}

.content{
    background-color: #FFF;
}
